<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Balkonich</title>
</head>
<body>
    <div class="main_page">
        <a href="{% url 'main' %}">
            <h1>На главную</h1>
        </a>
    </div>
    <div class="logo">
        <img src="../media/logo.png" alt="123">
    </div>
    <div class="main" id="main_with_margen">
        <h1>Бронепленка</h1>
        <img src="../media/photo_2024-10-16_18-02-10.jpg" alt="" class="description_image">
        <div class="information">
            <span>
                Еще не так давно поклейка бронепленок в квартире или офисе выполнялось крайне редко. Но уже сегодня много заказчиков желают поклеить бронированной пленкой все окна в помещениях. Хоть это и не очень дешевое удовольствие, но гораздо лучше, чем просто заклейка окон скотчем.
                Бронепленка на окнах предотвращает разброс осколков стекла и стеклопакета в глубину помещения. Она удерживает треснутые стекла в куче и предотвращает ранения или увечия находившихся людей внутри помещения.
            </span>
        </div>
        <h1>Какую пленку купить для бронирования окна?</h1>
        <img src="../media/IMG_20241016_180709.png" alt="" class="description_image">
        <div class="information">
            <span>
                Бронепленка состоит из многих слоев перехлестных прозрачных волокон полиэфирного пластика. В зависимости от количества слоев волокон, образуется нужная толщина пленки, соответственно, и защиты. 
                Есть несколько вариантов бронепленки, которую клеют на окна. Смая простая - это 70 микрон. Она самая базовая, но ее достаточно для того, чтоб не разбили стекло в офисе или торговом центре.
                Следующий, более серьезный уровень - 115 микрон. Это уже базовая защита вашего окна. Бронепленка такой толщины выдерживает ударную нагрузку около 17 кг/см2. Ее же мы рекомендуем использовать в школах, садиках.
                Пленка с толщиной 225 микрон - это средняя защита. Она уже позволяет защититься от сильных ударов.
                Самая  сильная пленка имеет толщину 335 микрон. 
                <br>
                <br>
                Ну и не забывайте, что пленки можно комбинировать, клеить в 2-3 слоя и увеличия степень защиты. 
                Так, к примеру, оклейка пленкой 335 микрон соответствует классу защиты А1. Если оклеить окно бронированной пленкой 225 микрон в 2 слоя, мы получим толщину в 450 микрон и класс защиты А2. А если используем 2 слоя пленки в 335 микрон, то получим класс защиты А3, способный выдержать удары 65 кг/см2 или противостояние специнструменту.
            </span>
        </div>
        <div class="document">
            <img src="../media/photo_2024-10-16_18-10-47.jpg" alt="" class="document_image">
            <img src="../media/photo_2024-10-16_18-11-58.jpg" alt="" class="document_image">
            <img src="../media/photo_2024-10-16_18-09-21.jpg" alt="" class="document_image">
        </div>
    </div>
    <div class="footer">
        <div class="footer_part_left">
            <p>Контактная информация:</p>
            <p>+38 (095) 499-18-70</p>
            <p>+38 (063) 759-15-64</p>
            <div class="sosial_media">
                <a href="https://www.instagram.com/balconich_kh?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                    <img src="../media/icons8-instagram.svg" alt="">
                </a>
                <a href="https://web.telegram.org/a/#1158997254">
                    <img src="../media/icons8-телеграмма-app.svg" alt="">
                </a>
                <img src="../media/icons8-viber.svg" alt="">
            </div>
        </div>
        <div class="advertising">
            <img src="../media/advertising.png" alt="" class="image_of_advertising">
        </div>
    </div>
</body>
</html>