<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Balkonich</title>
</head>
<body>
    <div class="main_page">
        <a href="{% url 'main' %}">
            <h1>На главную</h1>
        </a>
    </div>
    <div class="logo">
        <img src="../media/logo.png" alt="123">
    </div>
    <div class="main" id="main_with_margen">
        <h1>Электромонтаж</h1>
        <img src="../media/photo_2024-10-16_17-19-22.jpg" alt="" class="description_image">
        <div class="information">
            <span>
                Электромонтажные работы на балконе включают установку розеток, осветительных приборов и т.п. Их проводят согласно действующим нормам, с соблюдением техники безопасности.
                <br>
                <br>
                Для прокладки электрики на балкон/лоджию достаточно подключиться от ближайшей розетки в комнате. Обычно она находится не дальше 2-3 метров от входа на лоджию или балкон. Если уже сделан ремонт в комнате, то можно подключиться с помощью гибкого кабеля с вилкой. Отдельную линию от счетчика тянуть нет необходимости: нагрузки на вашей лоджии, вряд ли, превысят 1-1.5 КВт.
            </span>
        </div>
        <h1>Розетки</h1>
        <img src="../media/photo_2024-10-16_17-20-30.jpg" alt="" class="description_image">
        <div class="information">
            <span>
                Мы делаем по монтажной коробке  с каждой стороны лоджии от входа. В каждый подразетник можно установить розетку на две вилки.  Т.е. получается можно подключить до 4 потребителей одновременно. Если на одной стороне планируется шкаф, то розетка там не нужна.
            </span>
        </div>
        <h1>Выключатель света</h1>
        <img src="../media/photo_2024-10-16_17-23-43.jpg" alt="" class="description_image">
        <div class="information">
            <span>
                Выключатель мы делаем один. Если лоджия протяженная, то на две клавиши. На каждый светильник. Если лоджия квадратная, то достаточно одного светильника и одной клавиши.
            </span>
        </div>
        <h1>Вся электрика на внутренней стене</h1>
        <img src="../media/photo_2024-10-16_17-23-42.jpg" alt="" class="description_image">
        <div class="information">
            <span>
                Всю электрику нужно размещать на внутренней стене. Основная ее часть будет теплой зимой и можно убрать утеплитель из под монтажных коробок. Над оконным проемом на внутренней стене или потолке можно поместить любые светильники: бра, лампы дневного света, точечные светильники и т.п. Точки подключения под них мы выведем.
            </span>
        </div>
    </div>
    <div class="footer">
        <div class="footer_part_left">
            <p>Контактная информация:</p>
            <p>+38 (095) 499-18-70</p>
            <p>+38 (063) 759-15-64</p>
            <div class="sosial_media">
                <a href="https://www.instagram.com/balconich_kh?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                    <img src="../media/icons8-instagram.svg" alt="">
                </a>
                <a href="https://web.telegram.org/a/#1158997254">
                    <img src="../media/icons8-телеграмма-app.svg" alt="">
                </a>
                <img src="../media/icons8-viber.svg" alt="">
            </div>
        </div>
        <div class="advertising">
            <img src="../media/advertising.png" alt="" class="image_of_advertising">
        </div>
    </div>
</body>
</html>