<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Balkonich</title>
</head>
<body>
    <div class="main_page">
        <a href="{% url 'main' %}">
            <h1>На главную</h1>
        </a>
    </div>
    <div class="logo">
        <img src="../media/logo.png" alt="123">
    </div>
    <div class="main" id="main_with_margen">
        <h1>Утепление балкона пенопластом</h1>
        <img src="../media/photo_2024-10-16_16-12-38.jpg" alt="" class="description_image">
        <div class="information">
            <span>
                Защитить квартиру от холода и влаги помогает утепление балкона пенопластом снаружи и внутри.
                При использовании пенопласта необязательно монтировать пароизоляционные материалы. Он 
                практически не пропускает влагу. Преимущества этого утеплителя — удобство установки, легкость,
                доступная цена, устойчивость к негативному воздействию среды, грибку, плесени. Его можно 
                эксплуатировать при температуре от −180 до +80 °C.
            </span>
            <h2>Как выполняется утепление стен, пола и потолка на балконе пенопластом?</h2>
            <span>
                Утеплитель поставляется листами шириной 5–15 см. Как правило, на стены и потолок лоджии монтируют 3-5-сантиметровые,  на пол стелют 5-сантиметровые листы. Пенопласт фиксируют
                на предварительно собранную обрешетку или настилают в таком порядке:
            </span>
            <ol>
                <li>Грунтуют основание.</li>
                <li>На него приклеивают утеплитель.</li>
                <li>Теплоизолятор фиксируют ПВХ-дюбелями.</li>
                <li>Стыки запенивают, лишнюю пену срезают, на монтажные швы наклеивают скотч.</li>
            </ol>
            <span>
                В ходе работ обрешетку монтируют из реек толщиной 3–5 см. Их фиксируют на поверхности основания уголками из металла. Один их край крепится к рейке саморезом, второй — к основанию дюбелем. Расстояние между смежными рейками 35–40 см.
                <br>
                <br>
                Цены на утепление балкона/лоджии пенопластом зависят от нескольких факторов. Влияет выбор крепежа, материалов, особенности и состояние объекта, сложность теплоизоляции. Каждый проект оценивается индивидуально.
            </span>
        </div>
        <h1>Утепление балкона пенополистеролом</h1>
        <img src="../media/photo_2024-10-16_16-26-31.jpg" alt="" class="description_image">
        <div class="information">
            <span>
                Структура материала схожа со структурой обычного пенопласта – это множество мелких закрытых пор.
                <br>
                <br>
                Материал производится из полистирола методом экструзии. Продается в виде листов  Структура материала схожа со структурой обычного пенопласта – это множество мелких закрытых пор. Экструдированный пенополистирол имеет ряд преимуществ:
            </span>
            <ol>
                <li>высокая механическая прочность на сжатие и изгиб;</li>
                <li>низкий коэффициент теплопроводности при небольшой толщине;</li>
                <li>легкость обработки и монтажа;</li>
                <li>Стыки запенивают, лишнюю пену срезают, на монтажные швы наклеивают скотч.</li>
            </ol>
            <span>
                Основное отличие от пенопласта – это прочность пенополистирола. Он не так сильно ломается и крошится в процессе работы. Кроме того, плиты пенополистирола можно дополнительно крепить на клей.
                <br>
                <br>
                Цены на утепление балкона/лоджии пенополистиролом зависят от нескольких факторов. Влияет выбор крепежа, материалов, особенности и состояние объекта, сложность теплоизоляции. Каждый проект оценивается индивидуально
            </span>
        </div>
        <h1>Утепление балкона пенополиэтиленом</h1>
        <img src="../media/photo_2024-10-16_16-34-58.jpg" alt="" class="description_image">
        <div class="information">
            <span>
                Популярным материалом для теплоизоляции балкона является пенополиэтилен.
                Популярным материалом для теплоизоляции балкона является пенополиэтилен (Изолон, Пенофол). Это мягкий и тонкий утеплитель, выпускается в рулонах. Он не требует дополнительной гидроизоляции, так как не пропускает влагу. Пенофол может быть дополнительно покрыт алюминиевой фольгой с одной или с двух сторон. Металлизированный слой отражает инфракрасные лучи, то есть не позволяет теплу покинуть помещение.
                <br>
                <br>
                Пенополиэтилен имеет ряд положительных свойств:
            </span>
            <ol>
                <li>легкость;</li>
                <li>удобство монтажа;</li>
                <li>паро и шумоизолирующая способности;</li>
                <li>химическая устойчивость;</li>
                <li>экологичность;</li>
                <li>способность противостоять электромагнитным излучениям и некоторым радиоактивным веществам.</li>
            </ol>
            <span>
                С помощью этого материала можно создать комфортный микроклимат на балконе с качественными стеклопакетами и парапетом из пеноблоков. В других случаях такой теплоизоляции будет недостаточно. Пенофол может использоваться только как дополнение к основному утеплителю.
                <br>
                <br>
                Цены на утепление балкона/лоджии пенополиэтиленом зависят от нескольких факторов. Влияет выбор крепежа, материалов, особенности и состояние объекта, сложность теплоизоляции. Каждый проект оценивается индивидуально.
            </span>
        </div>
        <h1>Утепление балкона минеральной ватой</h1>
        <img src="../media/photo_2024-10-16_16-48-33.jpg" alt="" class="description_image">
        <div class="information">
            <span>
                Минеральная вата — еще один популярный материал для утепления балконов и лоджий. Рассмотрим его особенности.
                <br>
                <br>
                Преимущества утепления балкона минеральной ватой:
            </span>
            <ol>
                <li>Пожаробезопасность: Минеральная вата не горит и имеет высокий класс пожарной безопасности. Это делает ее отличным выбором для балконов, особенно в многоэтажных домах.</li>
                <li>Устойчивость к влаге: Минеральная вата может прекрасно справляться с высокой влажностью и не подвержена разрушению от воды. Это особенно важно для балконов, которые могут подвергаться воздействию атмосферных осадков.</li>
                <li>Экологичность: Минеральная вата изготавливается из натуральных минеральных материалов и не содержит вредных химических соединений. Она экологически безопасна.</li>
            </ol>
            <span>
                Бывает таких видов:
            </span>
            <h2>Стекловата</h2>
            <span>
                Представляет собой смесь из битого стекла, песка, известняковых и доломитовых пород. После термообработки получают тонкие волокна, которые соединяются связующим составом. Этот материал характеризуется мягкой структурой и эластичностью, после нагрузки быстро возвращается в первоначальную форму.
            </span>
            <h2>Базальтовая (Каменная)</h2>
            <span>
                Изготавливается из базальтовой породы, которую измельчают и нагревают до 1000 градусов, после чего продувают сильным потоком воздуха. В результате получают материал с высоким показателем огнестойкости, тепло- и шумоизоляции.
            </span>
        </div>
        <h1>Какую выбрать?</h1>
        <span>
            Для утепления деревянных конструкций лучше всего использовать каменную вату, которая обладает устойчивостью к возгоранию. На бетонных и кирпичных сооружениях можно монтировать стекловату. Также следует учитывать толщину утеплителя и его плотность. Для пола, перегородок и стен на застекленном балконе подойдет материал с плотностью 50 -100 кг/ куб. метр, под стяжку лучше использовать минвату с показателем в пределах 200 кг/ куб. метр.
            <br>
            <br>
            Минвата выпускается в рулонах и плитах. Рулонный материал используют для изоляции пола и плит перекрытия. Плиты подходят для утепления стен.
        </span>
    </div>
    <div class="footer">
        <div class="footer_part_left">
            <p>Контактная информация:</p>
            <p>+38 (095) 499-18-70</p>
            <p>+38 (063) 759-15-64</p>
            <div class="sosial_media">
                <a href="https://www.instagram.com/balconich_kh?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                    <img src="../media/icons8-instagram.svg" alt="">
                </a>
                <a href="https://web.telegram.org/a/#1158997254">
                    <img src="../media/icons8-телеграмма-app.svg" alt="">
                </a>
                <img src="../media/icons8-viber.svg" alt="">
            </div>
        </div>
        <div class="advertising">
            <img src="../media/advertising.png" alt="" class="image_of_advertising">
        </div>
    </div>
</body>
</html>