<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Balkonich</title>
</head>
<body>
    <div class="main_page">
        <a href="{% url 'main' %}">
            <h1>На главную</h1>
        </a>
    </div>
    <div class="logo">
        <img src="../media/logo.png" alt="123">
    </div>
    <div class="main" id="main_with_margen">
        <h1>Внутренняя отделка</h1>
        <img src="../media/photo_2024-10-16_18-46-06.jpg" alt="" class="description_image">
        <div class="information">
            <span>
                Эффект от ремонта на лоджии и балконе зависит от типа и комплекса проведенных отделочных работ. Отделка может быть двух типов – холодной и теплой.
                <br>
                <br>
                Преимущества холодной отделки.
                <br>
                Она представляет собой установку недорогого однокамерного остекления, использования отделочных материалов с небольшим количеством утеплителя или без него. Это дает такие преимущества:
            </span>
            <ul>
                <li>Эконом-вариант <br> Благодаря минимальному количеству утеплителя и отсутствия теплой инженерии ремонт обходится дешевле.</li>
                <li>Эстетичный внешний вид и аккуратность <br> За счет обшивки поверхностей панелями, вагонкой, деревом они обретают красивый внешний вид, приятные тактильные качества.</li>
                <li>Герметичность пространства <br> На балконе всегда сухо, чисто и уютно благодаря отсутствию щелей, через которые продували бы сквозняки, попадала пыль</li>
            </ul>
            <span>
                Такой тип отделки актуален, если вы просто желаете обустроить пространство, не добиваясь его утепления на зиму, не повышая звукоизоляционные качества
                <br>
                <br>
                Преимущества теплой отделки
                <br>
                <br>
                Теплая отделка балкона «под ключ» представляет собой выполнение в комплексе мер по утеплению пространства, использованию двух- или трехкамерных стеклопакетов – как на пластиковых окнах в квартире. Такое решение имеет следующие плюсы:
            </span>
            <ul>
                <li>Повышенный комфорт <br> Пространство можно присоединить к комнате или использовать как кабинет, зону отдыха <br> или отдельное теплое помещение круглый год.</li>
                <li>Улучшенная звукоизоляция <br> На балконе почти так же тихо, как и в комнате, при этом он создает дополнительный звуковой барьер, <br> и шум практически не поступает в жилое пространство за ним.</li>
                <li>Повышение энергоэффективности квартиры <br> Теплый балкон или лоджия повышают теплоизоляционные качества и комфорт всей квартиры, <br> при индивидуальном отоплении это позволит еще и сэкономить на энергоресурсах.</li>
            </ul>
            <span>
                Этот вид отделки используйте, если хотите обустроить полноценное комфортное пространство для эксплуатации зимой и летом. Кроме того, вы улучшите качества всей квартиры.
            </span>
            <h1>Как выполняются работы</h1>
            <ol>
                <li>Черновая отделка <br> Заполняем стыки, щели, зазоры изоляцией из мастики, пеной. <br> Выравниваем стены и потолки, подготавливаем их к использованию чистовых отделочных материалов, утеплителя.</li>
                <li>Установка инженерии <br> Монтируем электропроводку, устанавливаем монтажные коробки для выключателей, <br> розеток, делаем вывод под освещение.</li>
                <li>Утепление <br> Выполняется при теплой отделке. В качестве утеплителя мы используем пенопласт, пенополистирол <br> толщиной 50 мм и 100 мм, фольгоизолон. Укладываем материалы под потолком, на полу, стенах, добиваясь высоких звуко и теплоизоляционных качеств.</li>
                <li>Чистовые отделочные работы <br> В рамках внутренней отделки балкона укладываем напольное покрытие из линолеума или доски. <br> Монтируем на стены МДФ, ПВХ-панели или вагонку. Таким же материалом обшиваем потолок.</li>
                <li>Финальное оформление <br> Остается установить светильники, сушилки, убрать строительный мусор, добавить декора, <br> установить розетки и выключатели.</li>
            </ol>
            <h1>От чего зависит стоимость?</h1>
            <span>На цену отделки балкона или лоджии влияет следующее:</span>
            <ul>
                <li>тип отделочных работ;</li>
                <li>используемые материалы;</li>
                <li>перечень задач, которые нужно выполнить;</li>
                <li>размеры отделываемого пространства.</li>
            </ul>
            <span>Стоимость формируется индивидуально с составлением подробной сметы – вы сможете проконтролировать каждый этап работ, видеть, за что и сколько платите.</span>
        </div>
    </div>
    <div class="footer">
        <div class="footer_part_left">
            <p>Контактная информация:</p>
            <p>+38 (095) 499-18-70</p>
            <p>+38 (063) 759-15-64</p>
            <div class="sosial_media">
                <a href="https://www.instagram.com/balconich_kh?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                    <img src="../media/icons8-instagram.svg" alt="">
                </a>
                <a href="https://web.telegram.org/a/#1158997254">
                    <img src="../media/icons8-телеграмма-app.svg" alt="">
                </a>
                <img src="../media/icons8-viber.svg" alt="">
            </div>
        </div>
        <div class="advertising">
            <img src="../media/advertising.png" alt="" class="image_of_advertising">
        </div>
    </div>
</body>
</html>