<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Balkonich</title>
</head>
<body>
    <div class="main_page">
        <a href="{% url 'main' %}">
            <h1>На главную</h1>
        </a>
    </div>
    <div class="logo">
        <img src="../media/logo.png" alt="123">
    </div>
    <div class="main" id="main_with_margen">
        <h1>Откосы</h1>
        <img src="../media/photo_2024-10-16_17-31-11.jpg" alt="" class="description_image">
        <div class="information">
            <span>
                Установка новых окон – это только начало оформления оконных проемов. После монтажа стеклопакетов по периметру проема остаются монтажные швы, заполненные пеной и черновые поверхности, которые следует спрятать от посторонних глаз. Эти поверхности называются оконными откосами. От того, насколько глубоко установлена оконная конструкция и какой толщины сама стена здания, зависит ширина получившихся откосов.
            </span>
        </div>
        <h1>Основные функции откосов</h1>
        <div class="information">
            <span>
                Уменьшение теплопотерь в помещении. Тщательная герметизация монтажных швов, плюс дополнительное утепление проемов гарантирует отсутствие сквозняков и протечек;
                Защита монтажной пены. Без защиты, на открытом воздухе пена быстро разрушается, появившиеся пустоты не препятствуют проникновению уличного холода, а само окно начинает «болтаться» в проеме;
                <br>
                Создание гармоничного и аккуратного внешнего вид. Даже самый дорогой фирменный стеклопакет не украсит интерьер, если откосами служит неровно обрезанная кирпичная кладка, потемневшие бревенчатые спилы или пузыри застывшей строительной пены.
                А по всему вышесказанному вывод однозначен – красивым откосам быть!
                <br>
                <br>
                Мы выполняем отделку откосов теплыми панелями.
            </span>
            <img src="../media/photo_2024-10-16_17-40-41.jpg" alt="" class="description_image">
            <span>
                Это трехслойная разновидность пластиковых панелей. Внутренний слой состоит из вспененного пенополистирола, а снаружи прочный долговечный пластик. Такая слоистая структура позволяет надежно изолировать помещение от уличных сквозняков, холода, сырости. Сочетание пластика с утеплителем позволяет сделать откос быстро и удобно. Скорость установки обусловлена:
                Легкостью нарезки пластика по требуемым размерам;
                <br>
                Отсутствием этапов утепления и окраски. В результате отделки оконная система приобретает вид единой конструкции.
                <br>
                <br>
                В комплексном ремонте балкона/лоджии так же выполняем отделку откосов из ПВХ пластика, вагонки, МДФ и других материалов.
            </span>
            <img src="../media/photo_2024-10-16_17-52-22.jpg" alt="" class="document_image">
            <h1 class="atantion">Важно !!!</h1>
        <span>
            Цена на откосы зависит от:
            <br>
            <br>
            1. Размеры окна (высота, длина)
            <br>
            <br>
            Откосы высчитываются по метрам погонным. Стандартных окон не бывает! Каждая оконная конструкция изготавливается согласно размерам Ваших оконных проемов. 
            <br>
            <br>
            2. Глубина оконного откоса
            <br>
            <br>
            В большинстве панельных домов глубина откоса стандартная до 250 мм, чего не скажешь о кирпичных домах (например: хрущевках) там можно встретить глубину откоса от 350 мм до 500 мм. Стоимость монтажа на прямую зависит от глубины оконного откоса.
            <br>
            <br>
            3. Степень разрушения после установки окон
            <br>
            <br>
            Если монтаж окон произведен аккуратно и степень разрушения минимальная, то времени на установку откосов на такие окна потребуется немного и соответственно стоимость увеличиваться не будет. В тех случаях, где необходимо использовать дополнительный материал, чтобы закрыть дыры утеплителем и восстановить оконный проем для проведения монтажа откосов, цена будет выше.
        </span>
        </div>
    </div>
    <div class="footer">
        <div class="footer_part_left">
            <p>Контактная информация:</p>
            <p>+38 (095) 499-18-70</p>
            <p>+38 (063) 759-15-64</p>
            <div class="sosial_media">
                <a href="https://www.instagram.com/balconich_kh?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                    <img src="../media/icons8-instagram.svg" alt="">
                </a>
                <a href="https://web.telegram.org/a/#1158997254">
                    <img src="../media/icons8-телеграмма-app.svg" alt="">
                </a>
                <img src="../media/icons8-viber.svg" alt="">
            </div>
        </div>
        <div class="advertising">
            <img src="../media/advertising.png" alt="" class="image_of_advertising">
        </div>
    </div>
</body>
</html>